# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
Szakdolgozat.iml
modules.xml
misc.xml
vcs.xml
inspectionProfiles/profiles_settings.xml/ServerGenesis_v0.5.zip
